.book {
  display:flex;
  margin-left:0;
  padding:5px;
}

.book img {
  float:left;
  height:175px;
  width:100px;
  padding:5px;
}

.book-info {
  display:flex;
  flex-direction: column;
}
.book-info p {
  text-align:right;
  display:inline-block;
  padding:5px;
}

.book-info p input {
  padding:10px;
}

.reading-button {
  margin:10px;
}